#nav-bar {
  background-color: #00a087;
  font-color: #e8fdff;
  height: 80px;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  padding: 3px;
  width: 80px;
}

#nav-bar .header {
  color: #eee;
  float: left;
  font-size: 3em;
  line-height: 80px;
  margin-left: 10px;
  z-index: 11;
}

#nav-bar #header-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: #00a087;
  float: right;
  font-size: 2em;
  height: 50px;
  line-height: 50px;
  opacity: 0.9;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 15px;
  z-index: 9;
}

#nav-bar #header-button:hover {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  float: right;
  font-size: 2em;
  height: 50px;
  line-height: 50px;
  opacity: 1;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-right: 10px;
  z-index: 9;
}

/*Bonus*/

#nav-bar .logo:hover {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @-ms-keyframes spin {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
}
