#tweet-container {
  margin-top: 1.5em;
}

.tweets {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 1.5em;
}

.tweets .body {
  font-size: .75rem;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.tweets header {
  font-size: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0.5em;
  margin-top: 0;
  padding: 5px 5px 20px 5px;
  width: 100%;
}

.tweets .tweetr-handle {
  color: grey;
  float: right;
  font-size: .75rem;
  margin-right: 5px;
  margin-top: 5px;
}

.tweets .tweets-footer {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid grey;
  margin-top: 2em;
  padding: 10px;
}

.tweets footer {
  font-size: .5rem;
}

.tweets .tweets-footer footer {
  font-size: .75rem;
}

.tweets .tweets-header {
  background-color: #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 2em;
  padding: 5px 5px 5px 5px;
}

.tweets-header img {
  border-radius: 7px;
  display: inline-block;
  float: left;
  margin: 4px;
  margin-right: 8px;
}